<!DOCTYPE html>

<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Панель администратора</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="admin-container">
    <div class="admin-nav">
        <a th:href="@{/admin/dashboard}">Статистика</a>
        <a th:href="@{/admin/users}">Управление пользователями</a>
        <a th:href="@{/personpage}">Мои заметки</a>
        <form class="form-label" th:action="@{/logout} " method="post">
            <button type="submit" class="back-btn">Выход</button>
        </form>
    </div>

    <h1>Панель администратора</h1>
    <hr>
    <div class="stats-container">
        <h2>Статистика</h2>
        <div class="stat-card">
            <h3>Всего пользователей</h3>
            <span th:text="${userscount}"></span>
        </div>
        <div class="stat-card">
            <h3>Количество заметок</h3>
            <span th:text="${taskscount}"></span>
        </div>
    </div>
</div>

</body>
</html>