<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Список пользователей</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<div class="admin-container">
    <div class="admin-nav">
        <a class="header-info" th:href="@{/admin/dashboard}">Статистика</a>
        <a class="header-info" th:href="@{/admin/users}" style="background-color: #2196F3;">Управление пользователями</a>
        <a class="header-info" th:href="@{/personpage}">Мои заметки</a>
        <form class="admin-exit-button" th:action="@{/logout} " method="post">
            <button type="submit" class="back-btn">Выйти</button>
        </form>
    </div>

    <div class="users-list-container">
        <h2>Панель администратора</h2>
        <h3>Список пользователей</h3>

        <div th:if="${success}" class="alert alert-success" th:text="${success}">
        </div>
        <div th:if="${error}" class="alert alert-error" th:text="${error}">
        </div>

        <table th:if="${users.size()!=0}">
            <thead>

            <tr>
                <th onclick="sortTable(0)" class="user-id">Id</th>
                <th onclick="sortTable(1)" class="user-name">Пользователь</th>
                <th onclick="sortTable(2)" class="user-email">Email</th>
                <th onclick="sortTable(3)" class="user-created">Создан</th>
                <th onclick="sortTable(4)" class="user-role">Роль</th>
                <th onclick="sortTable(5)" class="user-active">Активен</th>
                <th class="task-actions">Управление</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="u , status : ${users}">
                <td th:text="${u.getId()}"></td>
                <td th:text="${u.getUsername()}"></td>
                <td th:text="${u.getEmail()}"></td>
                <td th:text="${#temporals.format(u.getCreatedAt(), 'yyyy-MM-dd HH:mm:ss')}"></td>
                <td th:text="${u.getRole()}=='ROLE_ADMIN' ? 'Администратор':'Пользователь'"></td>
                <td>
                    <span th:if="${u.isEnabled()}" class="status-completed">✅</span>
                    <span th:unless="${u.isEnabled()}" class="status-not-completed">❌</span></td>
                <td>
                    <div>
                        <button class="edit-btn"
                                th:data-id="${u.getId()}"
                                th:data-username="${u.getUsername()}"
                                th:data-role="${u.getRole()}"
                                th:data-email="${u.getEmail()}"
                                th:data-enabled="${u.isEnabled()}"
                                onclick="openEditUserModal(this)">
                            ✏️
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <h1 th:unless="${users.size()!=0}">Пользователей нет, но как так-то ? Вы же тоже пользователь =)</h1>

    <!--    Модальное окно редактирования задачи-->
    <div id="editUserModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h3>Редактирование пользователя</h3>

            <form id="editUserForm" method="post">
                <input type="hidden" id="editUserId" name="id">
                <input type="hidden" name="_method" value="put">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

                <div class="form-group">
                    <label for="editUserRole">Роль:</label>
                    <select class="styled-select" id="editUserRole" name="role">
                        <option value="ROLE_ADMIN">Администратор</option>
                        <option value="ROLE_USER">Пользователь</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="editUserEmail">Email:</label>
                    <input type="text" id="editUserEmail" name="email"
                           placeholder="Введите email">
                </div>

                <div class="form-group">
                    <label for="editUserEnabled">
                        <input type="checkbox" id="editUserEnabled" name="enabled">
                        Активен
                    </label>
                </div>

                <div class="form-buttons">
                    <button type="submit" class="save-btn">Сохранить изменения</button>
                    <button type="button" class="cancel-btn">Отмена</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script th:src="@{/script/admin.js}"></script>
</body>
</html>